.question-details {
       display: block;
	margin: 7px;
	border:2px grey solid ;
	padding: 15px;
}

.question-details select, input[type="number"] {
    padding:5px;
    font-size: 15px;
    border: 1px grey solid;
    border-radius: 4px;
}
 
.question-details select{
min-width: 171px;
    padding: 5px 0px;
    background-color: transparent;
    font-size: 13px;
}
